@import 'tailwindcss';
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    color: white;
    text-shadow: 2px 2px 4px black, -2px -2px 4px black;
    position: relative;
    z-index: 10;
}

body {
    transition: all 0.5s ease;
    background: linear-gradient(45deg, black, black 49.9%, white 50%, white);
    background-size: 400% 400%;
    background-position: 0% 100%;
}

body.dark-mode {
    background-position: 0% 100%;
}

body.light-mode {
    background-position: 100% 0%;
}

.theme-button {
    position: relative;
    padding: 30px 30px;
    display: inline-block;
    border-radius: 40px;
    background-color: transparent;
    background-image: url('../img/dark-theme-button-logo.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
    filter: invert(0); /* Default state - black icon */
}

.theme-button:hover {
    transform: scale(1.05);
    transition: all 0.3s ease, filter 0.3s ease;
}

.root-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 20px;
}